/* ============================== QUIZ CEREBRAL 2 - style.css ============================== */

{ margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }


body { background-color: #0a4cff; /* azul */ color: white; height: 100vh; }

.screen { display: none; width: 100%; height: 100vh; justify-content: center; align-items: center; text-align: center; }

.screen.active { display: flex; }

.container { max-width: 600px; width: 100%; padding: 20px; }

h1 { font-size: 40px; margin-bottom: 20px; }

h2 { font-size: 24px; margin-bottom: 20px; }

p { margin-top: 15px; font-size: 14px; }

/* MENU */ .btn-white { background: white; color: black; border: none; padding: 15px 40px; font-size: 20px; cursor: pointer; margin-top: 20px; }

/* BOTÕES DO QUIZ */ #answers { display: flex; flex-direction: column; gap: 12px; margin-top: 30px; }

.btn-blue { background: #1e90ff; color: white; border: none; padding: 15px; font-size: 16px; cursor: pointer; }

.btn-blue:hover { background: #0b6edc; }

/* NUMERO DA QUESTÃO */ #questionNumber { position: absolute; top: 15px; left: 15px; font-size: 14px; opacity: 0.9; }

/* GAME OVER */ .gameover-text { font-size: 20px; margin-bottom: 20px; }

.btn-red { background: red; color: white; border: none; padding: 15px 40px; font-size: 18px; cursor: pointer; }

/* FINAL */ .final-text { color: yellow; font-size: 22px; margin-bottom: 20px; }

.btn-small { background: white; color: black; border: none; padding: 10px 25px; font-size: 14px; cursor: pointer; }
